/* common css style for full website start here  */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.album hr, .goal hr{
    width: 250px;
    margin-bottom: 50px;
    padding: 1px;
    background-color: #2D25A0;
    border:none;
}
/* common css style for full website end here  */

/* header section css start here  */
.website-header {
    background-color: #2D25A0;
    height: 677px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-text {
    width: 50%;
}

.header-title {
    width: 487px;
    height: 320px;
    margin: 207px 0px 240px 156px;
    position: absolute;
}

.header-title h1 {
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    font-style: normal;
}

.head-banner {
    width: 50%;
}

.head-banner img {
    width: 388px;
    height: 428px;
    margin: 153px 141px 186px 102px;
}

.header-title button {
    padding: 10px 14px;
    font-size: 16px;
    line-height: 24px;
    width: 168px;
    height: 44px;
    font-weight: 600;
    background-color: #E02c6D;
    border: none;
    color: #fff;
}

.header-title button i {
    width: 16px;
    height: 14px;
}

/* header section css end here  */

/* players section start here */
.players {
    margin: 70px 180px;
}

.all-player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;

}

.single-player {
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 4px gray;
}

.player-info {
    padding: 15px;
}

.player-img {
    width: 300px;
    height: 256px;
}

.about-player {
    width: 300px;
    height: 154px;
}

.about-player h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 10px;
}

.about-player p {
    width: 300px;
    height: 104px;
    font-size: 16px;
    font-weight: 400;
    color: #979797;
    margin: 0px;
}

/* players section end here */

/* table start from here */
.goal h2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0px;
}
.total-goal{
    margin-top: 100px;
}
.goal{
    text-align: center;
    margin-left: 70px;
}
.allPerson-table {
    border-collapse: collapse;
    font-size: 18px;
    box-shadow: 0px 0px 10px gray;
    width: 83%;
    margin:auto;
    margin-bottom: 60px; 
    border-radius: 5px;
    
}
.allPerson-table thead tr {
    background-color: #2D25A0;
    color: #ffffff; 
    text-align: center;
}
.allPerson-table th,
.allPerson-table td {
    padding: 12px 15px;
}

.allPerson-table tbody tr:nth-of-type(2n) {
    background-color: #f3f3f3;
}

.allPerson-table tbody tr:last-of-type {
    border-bottom: 2px solid #2D25A0;
}
/* table section end here */

/* album section start here  */
.album {
    margin: 130px 180px;
    text-align: center;
}
.album h2{
    font-size: 25px;
    padding-bottom:0 px;
    margin-bottom: 0px;
    font-weight: 600;
}
.album hr{
    width: 380px;
    margin-bottom: 50px;
    padding: 1px;
    background-color: #2D25A0;
    border:none;
}
.all-injuri-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 33px;

}
.single-injuri-img img{
    width: 330px;
    height: 270px;
}
/* album section end here  */
/* footer section style start here  */
.footer-section {
    margin-bottom: 63px;
}

.footer-info {
    text-align: center;
}

.footer-info img {
    width: 262px;
    height: 110px;
    margin-bottom: 20px;
}

.footer-icon {
    width: 170px;
    height: 32px;
    margin: auto;

}

.icon {
    margin: 0 7px;
}

.icon i {
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    background-color: #E7E7E8;
}

.footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 24px;

}

.footer-info span {
    width: 236px;
    height: 31px;
    font-size: 23px;
    font-weight: 500;
}

/* footer section style end here  */

/* all hover effect start here  */
/* header-button hover iffect start here */
.header-title button:hover {
    transform: scale(1.2);
    transition: transform .5s;
}

/* header-button hover iffect end here */
/* all hover effect end here  */

/* media quary start here  */
@media(max-width:668px) {
    /* header area media quary start here  */
    .website-header {
        background-color: #2D25A0;
        height: 695px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
    .header-text {
        width: 100%;
    }
    
    .header-title {
        width: 278px;
        height: 138px;
        margin: 112px 0px 0px 16px;
        position: absolute;
    }
    
    .header-title h1 {
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        font-style: normal;
    }
    
    .head-banner {
        width: 100%;
    }
    
    .head-banner img {
        width: 329px;
        height: 259px;
        margin: 374px 16px 61.83px 15px;
    }
    /* header area media quary end here  */

    /* player section media quary start here */
    .players {
        margin: 47px 15px;
    }
    
    .all-player {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;           
    }
    
    /* player section media quary end here */
    
    /* table section media query start here  */
    .goal{
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }
    .goal h2{
        font-size: 20px;
        font-weight: 700;
        width: 100%;
        margin-left: 10px;
    }
    .album hr, .goal hr{
        width: 150px;
        margin-bottom: 50px;
        padding: 1px;
        background-color: #2D25A0;
        border:none;
    }
    /* album media query start here  */
    .album {
        margin:10px 15px;
        text-align: center;
    }
    .all-injuri-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    
    }
    .album h2{
        margin-left: 10px;
    }
     /* album media query start here  */
    /* footer section media quary start here */              
    .footer-section {
        margin-bottom: 63px;
    }
     /* footer section media quary end here */
}

